ion-navbar ion-title {
    font-family: Cursive;
    text-align: center;
}

ion-navbar ion-buttons button ion-icon {
    font-size: 30px;
    position: relative;
    left: 10px
}

ion-col div {
    font-family: Cursive;
}

ion-card-content p {
    font-family: Arial;
}
