ion-input {
    font-size: 14px;
}

ion-navbar {
    height: 4em;
}

#map {
    width: 100%;
    height: 34%;
}

.photo {
    width: 90%;
    margin: 18px;
}

.post-add {
    background-color: rgb(255,245,228);
    ::-webkit-scrollbar {
        display: none !important;
    }
}

.rating {
    height: 1em;
    text-align: center;
    background-color: rgb(255,245,228);
    &.rating li {
        color: rgb(255, 184, 51);
        ion-icon {
            font-size: 20px;
        }
    }
}

.review {
    background-color: rgb(255,245,228);
}

.search {
    background-color: rgb(255,245,228);
}

.share {
    width: 90%;
    margin: 18px;
}

textarea {
    width: 100%;
    height: 22vh;
    font-size: 14px;
}

::-webkit-input-placeholder {
    font-size: 14px;
}
