.fpbutton {
    margin-top: 20px;
}

.fpButton :hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.joinButtons {
    text-align: center;
    margin-top: 15px;
}

.login {
    ::-webkit-scrollbar {
        display: none !important;
    }
}

.loginButton :hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.singupButton :hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}
