.center {
    text-align: center;
}

.followers {
    color: #fff;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}

.following {
    color: #fff;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}

ion-header ion-navbar ion-buttons button ion-icon {
    font-size: 28px;
    text-align: center;
    left: 295px;
}

page-users-detail {
    ::-webkit-scrollbar {
        display: none !important;
    }
}

.profile-pic {
    margin: auto;
    margin-top: 20px;
    border-radius: 100px;
    border-style: solid;
    border-color: rgb(255, 184, 51);
    border-width: 3px;
    height: 85px;
    width: 85px;
}

.users-detail {
    background-color: rgb(255,245,228);
}
