page-users-detail {
    ::-webkit-scrollbar {
        display: none !important;
    }
}

.setting {

}

.users-detail {
    background-color: rgb(255,245,228);
}

.profile-pic {
    border-radius: 8px;
    padding: 2px -10px 1px 0px;
    height: 65px;
    width: 65px;
}

.followers {
    color: black;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -5px;
    padding: 0px 1px 0px 1px;
}

.follow {
    color: black;
    font-family: Cursive;
    text-align: center;
    color: #fff;
    height: 30%;
    width: 200px;
    position: relative;
    left: 100px;
    top: -35px;
}

.profile {
    height: 75px;
}

ion-navbar ion-buttons button ion-icon {
    font-size: 30px;
    position: relative;
    left: -5px;
}
